
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.interfont {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:"slnt" 0;
  background-color:rgba(17, 17, 17, 1);
  width: 70%;
}


.head{
    
    margin-left: 150px;
    margin-right: 100px;
   
    
  
    
  }

  .navbar{
    
    display: flex;
    flex-direction: row;
    gap:550px;
    margin-top: 50px;
    width:150%;
    
  }
  .item {
    
   
font-size: 16px;
font-weight: 500;
display: flex;
gap:30px;
justify-content: space-evenly;

color: white;
width: 420px;
height:35px;

gap: 47px;
border-radius: 40px 40px 40px 40px;
border: 1px 0px 0px 0px;
opacity: 0px;
border: 1px solid rgba(255, 255, 255, 0.1);


  }

  .list{
    margin-top: 10px;
list-style: none;
  }

a{
    text-decoration: none;
    color:white;

}
.brand{
   margin-top:20px;
    color:rgba(230, 83, 60, 1);
    font-family: Inter;
font-size: 36px;
font-style: italic;
font-weight: 800;
line-height: 43.2px;
text-align: left;
margin-left: 25px;

}

#home{
width: 80px;
height: 20px;
padding: 6px 5px 5px 5px;
gap: 0px;
border-radius:40px 40px 40px 40px;
opacity: 0px;
background-color:rgba(230, 83, 60, 1);
margin-top: 2px;
text-align: center;
margin-left: -56px;

}
.heading{
  font-family: Inter;
font-size: 78px;
font-weight: 900;
line-height: 93.6px;
text-align: left;
width: 520px;
height: 282px;
gap: 0px;
opacity: 0px;
color: rgba(255, 255, 255, 1);



}

.shape{
  font-family: Miama;
font-size: 78px;
font-style: italic;
font-weight: 30;
line-height: 93.6px;
text-align: left;
color: rgba(255, 255, 255, 1);
}

.paragraph{
  width: 520px;
height: 48px;
gap: 0px;
opacity: 0px;
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.5px;
text-align: left;
color: rgba(255, 255, 255, 0.5);
margin-top: 30px;
}
.container{
  width: Fixed (520px);
height: Hug (440px);
opacity: 0px;
display: flex;
flex-direction: column;
justify-content: left;
margin-top: 70px;


}
.buttons{
  width: Hug (462px);
height: Hug (54px);
gap: 14px;
opacity: 0px;
display: flex;
flex-direction: row;
justify-content: left;
margin-top: 30px;

}
.btn1{
  width: Fixed (224px);
height: Hug (54px);
padding: 16px 40px 16px 40px;
gap: 10px;
border-radius: 42px;
opacity: 0px;
background-color: rgba(230, 83, 60, 1);
color: rgba(255, 255, 255, 1);


}
.btn2{
  width: Fixed (224px);
height: Hug (54px);
padding: 16px 40px 16px 40px;
gap: 10px;
border-radius: 42px;
border: 1px solid rgba(255, 255, 255, 1);
opacity: 0px;
color:rgba(255, 255, 255, 1) ;

}

.banner{
  display: flex;
  flex-direction: row;
}
.picture{
  width: 349px;
height: 580px;
top: 135px;
 margin-left: 277px;
gap: 0px;
opacity: 0px;


}
.smalldiv1{

  height: 80px;
  margin-top:145px;
  width:165px;
  border-radius: 12px ;
  border: 1px solid rgba(255, 255, 255, 0.1);
  opacity: 0px;
  background-color: rgba(255, 255, 255, 0.1);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
  margin-left: -120px;
  color: aliceblue;
 
  
}

.smalldiv2{
  width: 170px;
height: 75px;
 margin-top: 195px;
 margin-left: -430px;
 display: flex;
 flex-direction: row;
 justify-content: left;
 align-items: center;


gap: 6px;
border-radius: 12px;
border: 1px  solid rgba(255, 255, 255, 0.1);
opacity: 0px;
background: rgba(255, 255, 255, 0.1);

color: aliceblue;


}
.smalldiv1 p{
  margin-top: -22px;
  font-size: 13px;
  font-weight: lighter;
  margin-left: 10px;
  color: rgba(255, 255, 255, 0.65);
  
}
.smalldiv2 p{

    margin-top: -20px;
    font-size: 13px;
    font-weight: lighter;
    margin-left: 2px;
    color: rgba(255, 255, 255, 0.65);
    
  
}
.smalldiv1 h1{
  margin-left: -40px;
  margin-top: 6px;
}
.ball{
  width: 30px;
  height: 30px;
  gap: 0px;
  opacity: 0px;
  background-color:rgba(230, 83, 60, 1);
  border-radius: 50%;
  margin-left: 16px;
  

}
.dot{
  display: flex;
  flex-direction: column;
  justify-content: left;
 

}
@media(max-width:768px) {
    .navbar{
    
        display:flex;
        flex-direction: row;
        gap:172px;
        margin-left: -150px;
        margin-top: 30px;
        
      }
       .banner{
        display: block;
        margin-left: 0px;
       }

       .buttons{
        width:500px;
       }
      .picture{
        margin-left: 60px;
        margin-top: 70px;
      }
    .smalldiv1{
        margin-top: -480px;
        margin-left: 300px;
        border-radius: 12px;
        border: 1px  solid rgba(255, 255, 255, 0.1);
        position: relative;
        
    }
    .smalldiv2{
        margin-top: 190px;
        margin-left: -10px;
        border-radius: 12px;
        background-color: rgba(48, 48, 48, 0.54);
        position: relative;

    }
}

.secondbigdiv{
    width: Hug (1,044px);
  height: Hug (430px);
  top: 815px;
  left: 198px;
  gap: 58px;
  opacity: 0px;
  margin-top: -70px;
  
  }
  .secondheading{
  width: Hug (671px);
  height: Hug (120px);
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  opacity: 0px;
  margin-left: 400px;
  }
  
  .secondheading h1{
  
  font-family: Inter;
  font-size: 48px;
  font-weight: 900;
  line-height: 57.6px;
  color: aliceblue;
  }
  .secondheading p{
    width: 671px;
  height: 48px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.30000001192092896px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  margin-top: -20px;
  
  
  }
  .photos{
    width: Fixed (231px);
  height: Hug (274px);
  gap: 30px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  
  }
  
  .photos img{
  width: 180px;
  height: 180px;
  gap: 0px;
  border-radius: 100px;
  border: 4px;
  border: 4px solid rgba(255, 255, 255, 0.1)
  
  
  }
  .photos h5{
    width: Hug (231px);
  height: Hug (64px);
  gap: 6px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  margin-top: -10px;
  
  
  }
  .photos p{
    width: Hug (231px);
  height: Hug (64px);
  gap: 6px;
  opacity: 0px;
  font-family: Inter;
  font-size: 13px;
  font-weight: 270;
  line-height: 18px;
  letter-spacing: 0.30000001192092896px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  margin-top: -55px;
  
  }
  
  .multiphotos{
    width: Hug (1,500px);
  height: Hug (260px);
  gap: 80px;
  opacity: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 250px;
  
  
  }

  @media(max-width:768px)
  {
    .multiphotos{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-left: 144px;
        grid-row-gap:0px ;
    }
    .secondheading{
        margin-top: 350px;
        margin-left: 140px;
        justify-content: center;
        width: 490px;
    }
    .secondheading p{
        width: 460px;

    }

  }

  .thirdbigdiv{
    top: 1367px;
    left: 190px;
    gap: 62px;
    opacity: 0px;
    width: 1000px;
    height: 280px;
    padding: 30px 32px 29px 54px;
    background-color: rgba(34, 34, 34, 1);
    margin-top: 80px;
    margin-left: 195px;
    border-radius: 18px;
    opacity: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    
    
    }
    .thirdheading h1{
      width: 400px;
    height: 116px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    line-height: 57.6px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-top: 0px;
    
    }
    .thirdheading p{
    color: rgba(255, 255, 255, 0.5);
    width: 440px;
    height: 68px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.30000001192092896px;
    text-align: left;
    margin-top: -20px;
    
    
    }
    .btn3{
     width: 150px;
    height: 15px;
    padding: 16px 20px 16px 20px;
    gap: 10px;
    border-radius: 42px;
    opacity: 0px;
    background-color: rgba(230, 83, 60, 1);
    color: aliceblue;
    text-align: center;
    margin-top: 20px;
    
    }
    .thirdheading{
      width: Fixed (400px);
    height: Hug (290px);
    top: 41px;
    left: 54px;
    gap: 34px;
    opacity: 0px;
    
    }
    .whole{
      display: flex;
      flex-direction: column;
      justify-content: left;
     
    }
    .runpicture img{
      width: 320px;
    height: 290px;
    gap: 0px;
    border-radius: 18px;
    opacity: 0px;
    margin-left: 200px;
    
    }

    @media(max-width:768px){
        .thirdbigdiv{
            width: 633px;
            margin-left: 18px;
            margin-top: 45px;
            height: 320px;
        }
        .runpicture img{
            margin-left:-80px ;
            margin-top: 17px;
            width: 290px;
            height: 290px;
        }
        .thirdheading p{
            width:270px;
        }
        .btn3{
            margin-top: 55px;
        }
        .thirdheading h1{
           font-weight: 400px;
        }

    }

.fourthdiv{
width: Fixed (1,060px);
height: Hug (581px);
gap: 58px;
opacity: 0px;
display:flex;
flex-direction: column;
justify-content: left;

}
.fourthheading{
  width: Hug (671px);
height: Hug (120px);
gap: 14px;
opacity: 0px;
margin-left: 200px;
margin-top: 100px;

}
.fourthheading h1{
  font-family: Inter;
font-size: 48px;
font-weight: 900;
line-height: 57.6px;
text-align: left;
width: 573px;
height: 58px;
gap: 0px;
opacity: 0px;
color: aliceblue;

}
.fourthheading p{
  width: 671px;
height: 48px;
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.30000001192092896px;
text-align: left;
color: rgba(255, 255, 255, 0.5);
margin-top: 60px;

}
.images{
width: Fixed (1,060px)px;
height: Fixed (403px)px;
gap: 0px;
opacity: 0px;
}

.division1{
width: Fill (1,060px);
height: Fill (201.5px);
gap: 0px;
opacity: 0px;
display: flex;
flex-direction: row;
justify-content: center;
margin-left: 400px;

}
.division2{
  width: Fill (1,060px);
  height: Fill (201.5px);
  gap: 0px;
  opacity: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 400px;
  margin-top: -8px;
  
  }
.first img{
  width: 280px;
  height: 190px;
  left: -16px;
  gap: 0px;
  opacity: 0px;
  background: rgba(6, 255, 210, 0.5);

  
}
.second img{
  width: 460px;
height: 190px;
top: -44px;
gap: 0px;
opacity: 0px;

}

.third img{
  width: 280px;
height: 190px;
top: -6px;
left: -42px;
gap: 0px;
opacity: 0px;

}

.fourth img{
  width: 412px;
height: 190px;
top: -13.5px;
left: -1px;
gap: 0px;

overflow: hidden;
background: rgba(0, 0, 0, 0.5);
opacity: 1;

}

.fifth img{
  width: 260px;
height: 190px;
top: -7.5px;
left: -60px;
gap: 0px;

background-image: linear-gradient(0.00deg,rgba(66, 255, 0, 0.3) -19.5%,rgba(66, 255, 0, 0.3) 100%),url(images/exercise4.png);
}


.sixth img{
  width: 348px;
height: 190px;
top: -24.5px;
left: -15px;
gap: 0px;
opacity: 0px;
background: rgba(0, 71, 255, 0.3);

}

@media(max-width:768px){
  .fourthheading{
    margin-left: 40px;
  }
  .first img{
    width:220px;
    height: 170px;
    position: 0%;
    margin-left: -180px;
  }
  .second img{
    width:320px;
    height: 170px;
    position: 0%;
    margin-left: -20px;
  }
  .third img{
    width:210px;
    height: 170px;
    position: 0%;
  }
  .fourth img{
    width:297px;
    height: 170px;
    position: 0%;
    margin-left: -184px;
  }
  .fifth img{
    width:210px;
    height: 170px;
    position: 0%;
  }
  .sixth img{
    width:225px;
    height: 170px;
    position: 0%;
  }
  
  
  
}